.piebody{
    width: 360px;
    height: 512px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.piecard{
    width: 252px;
    height: 252px;
    background-color: white;
    box-shadow: silver;
}